.card{
    width: 65%;
    min-height: 10rem;
    margin: auto;
    border: 2px solid rgb(233, 233, 233);
    padding: 1rem;
}

.card-body{
    margin: 1rem auto;
}

.card-body.slots{
    margin-left: 0;
}

.slots .btn{
    margin: 0.5rem 0.7rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgb(232, 232, 232);
}

.slots .btn:hover{
    background-color: rgb(202, 202, 202);
}

.book-slot{
    text-align: right;
}

.book-slot .btn{
    margin: 0.5rem 4rem;
}

.slots .booked{
    background-color: rgb(179, 179, 179);
    border-radius: 8px;
    color: rgb(112, 112, 112);
}

.slots .booked:hover{
    background-color: rgb(179, 179, 179);
}



.slots .float-left{
    text-align: left;
}

@media (max-aspect-ratio: 9/10) {

    .book-slot{
        text-align: center;
    }
    
    .book-slot .btn{
        margin: 0.5rem auto;
    }

    .slots .btn{
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .card-body.slots{
        text-align: center;
    }
}